APP_ENV=development

POSTGRES_DB=shop_manager
POSTGRES_USER=shop_user
POSTGRES_PASSWORD=shop_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://shop_user:shop_pass@localhost:5432/shop_manager