# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDEs / Editors
.idea/
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db